/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.auth__layout {
  @apply h-screen object-cover bg-no-repeat w-screen bg-gray-50 flex items-center justify-center;
}

.auth__layout__image {
  @apply h-screen fixed z-0;
}

.padding {
  @apply px-4 md:px-12 xl:px-40 py-16;
}

.margin {
}

.banner {
  @apply px-4 md:px-12 xl:pl-40 py-8 sm:py-20 flex flex-col xl:flex-row xl:space-x-8;
}

.talents__container {
  @apply px-4 md:px-12 xl:px-40 py-16;
}

.flex__center {
  /* @apply padding flex flex-col justify-center items-center space-x-20; */
  @apply padding flex justify-center items-center space-x-20;
}

.dark___btn {
  @apply bg-bm__btn__grey w-full px-4 py-1 text-white hover:bg-bm__btn__grey/70 rounded-md;
}

.dark__btn {
  @apply bg-bm__btn__grey w-full px-6 py-1 text-white hover:bg-bm__btn__grey/70 rounded-md;
}

.light__btn {
  @apply bg-bm_card_grey w-full px-6 py-1 text-bm__btn__grey hover:bg-bm_card_grey/70 rounded-md;
}

.outlined__btn {
  @apply bg-inherit w-full px-6 py-1 border-2 text-bm__btn__grey hover:bg-white/70 rounded-md;
}

.outlined__yellow__btn {
  @apply bg-inherit w-full px-6 py-1 border-2 border-yellow-300 text-yellow-300 hover:bg-white/70 rounded-md;
}

.outlined__red__btn {
  @apply bg-inherit w-full px-6 py-1 border-2 border-red-700 text-red-700 hover:bg-white/70 rounded-md;
}
.dark__base__btn {
  @apply text-bm__btn__grey w-full px-6 py-1  hover:text-bm__btn__grey/70 rounded-md;
}

.ox__btn {
  @apply bg-bm__ox__red w-full px-6 py-1 text-white rounded-md  hover:bg-bm__ox__red/70 whitespace-nowrap;
}

/* styles.css */

body {
  font-family: "Poppins", sans-serif;
}

.hover-wrapper {
  display: inline-block; /* or display: block; depending on your layout */
}

.hover-wrapper:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Adjust the color and opacity as needed */
  transform: scale(1.05); /* Adjust the scale factor as needed */
}

.input-phone-number input:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
